<div class="row">
	<h1>Educación</h1>       
	<div class="col-lg-2">
		<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addEducacionModal" (click)="onOpenModal('add')" *ngIf="isLogged">
			<a class="nav-link" style="color: aliceblue">
				Agregar Educacion<span class="sr-only"></span></a>
		</button>
	</div>

	<div class="col lg 1"></div>
	<div class="col-lg-11">
		<table class="table">
			<tbody>
				<tr *ngFor="let Educacion of educacion">
					<td>
						<h2>{{Educacion.nombreE}}</h2>
					</td>
					<td>{{Educacion.descripcionE}}</td>
					<td *ngIf="isLogged">
						<button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editEducacionModal" (click)="onOpenModal('edit', Educacion)">
							<i class="bi bi-pencil-fill"></i>EDITAR</button>
					</td>
					<td *ngIf="isLogged">
						<button class="btn btn-danger" (click)="delete(Educacion.id)">
							<i class="bi bi-trash-fill"></i>BORRAR</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Modal añadir Educacion-->
	<div class="modal fade" id="addEducacionModal" tabindex="-1" role="dialog" aria-labelledby="addEducacionModalLabel"
		aria-hidden="true">

		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addEducacionModalLabel"> Añadir Educación</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form #addForm="ngForm" (ngSubmit)="onAddEducacion(addForm)">
						<div class="form-group">
							<label for="nombreE" class="col-form-label">Nombre de la Educacion</label>
							<input type="text" ngModel name="nombreE" class="form-control" id="nombreE"
								placeholder="Nombre de la Educacion" required />
						</div>
						<div class="form-group">
							<label for="descripcionE" class="col-form-label">Descripcion</label>
							<input type="text" ngModel name="descripcionE" class="form-control"
								id="descripcionE" placeholder="Descripcion" required />

						</div>
						<div class="modal-footer">
							<button type="button" id="add-educacion-form" class="btn btn-secondary"
								data-bs-dismiss="modal">
								Close
							</button>
							<button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">
								Añadir Educacion
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal editar Educacion-->
	<div class="modal fade" id="editEducacionModal" tabindex="-1" role="dialog" aria-labelledby="editEducacionModalLabel"
		aria-hidden="true">

		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="updateEducacionModalLabel"> Editar Educación {{editEducacion?.nombreE}}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form #editForm="ngForm">
						<div class="form-group">
							<label for="nombreE" class="col-form-label">Nombre de la Educacion</label>
							<input type="text" ngModel="{{editEducacion?.nombreE}}" name="nombreE" class="form-control" id="nombreE"
								placeholder="Nombre de la Educacion" required />
						</div>
						<input type="hidden" ngModel="{{editEducacion?.id}}" name="id" class="form-control" id="id" placeholder="">
						<div class="form-group">
							<label for="descripcionE">Descripcion</label>
							<input type="text" ngModel="{{editEducacion?.descripcionE}}" name="descripcionE" class="form-control"
								id="descripcionE" placeholder="Descripcion" required />
						</div>
						<div class="modal-footer">
							<button type="button" id="" class="btn btn-secondary"
								data-bs-dismiss="modal">
								Cerrar
							</button>
							<button (click)="onUpdateEducacion(editForm.value)" data-bs-dismiss="modal" class="btn btn-primary">
								Guardar cambios
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


</div>

