.row{
	padding: 20px;
}
div{
	background-color: rgb(97, 238, 243);
	text-align: center;
}
/*estilo de foto de perfil*/
@media (min-width: 600px){
	#fotoPerfil{
		position: absolute;
		width: 20%;
		border-radius: 100%;
		box-shadow: 3px 3px 3px gray;
		left: 2%;
		top: 450px;
	}
}
@media (max-width: 600px){
	#fotoPerfil{
		width: 30%;
		border-radius: 100%;
		box-shadow: 3px 3px 3px gray;
		left: 33%;
		top: 890px;
	}
}	

/*etiqueta nombre*/
strong{
	margin-left: 60px;
}
p{
	margin-top: 2%;
	margin-left: 45px;
}

/*etiqueta acercade*/
span{
	margin-top: 5%;
	margin-left: 10px;

}