.row{
	padding: 20px;
}
div{
	background-color: rgb(97, 238, 243);
	text-align: center;
}
/*estilo de foto de perfil*/
@media (min-width: 576px){
	#fotoPerfil{
		position: absolute;
		width: 15%;
		border-radius: 100%;
		box-shadow: 3px 3px 3px gray;
		left: 2%;
		top: 600px;
	}
}
@media (max-width: 575px){
	#fotoPerfil{
		position: absolute;
		width: 30%;
		border-radius: 100%;
		box-shadow: 3px 3px 3px gray;
		left: 33%;
		top: 850px;
	}
}	

/*etiqueta nombre*/
#nombre{
	font-weight: bold;
	margin-top: 25%;
	margin-left: 10px;
}