<div class="row">
	<h1>Experiencia laboral</h1>
	<div class="col-lg-11">
		<ul>
			<li><h1>Trabajo 1</h1> - <h3>(años)</h3></li>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, dolorum. Magni a quam, laboriosam minus sequi debitis inventore quae labore necessitatibus ab eos recusandae. Necessitatibus voluptatem non id pariatur ex?</p>
		</ul>
		<ul>
			<li><h1>Trabajo 2</h1> - <h3>(años)</h3></li>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, dolorum. Magni a quam, laboriosam minus sequi debitis inventore quae labore necessitatibus ab eos recusandae. Necessitatibus voluptatem non id pariatur ex?</p>
		</ul>
		<ul>
			<li><h1>Trabajo 3</h1> - <h3>(años)</h3></li>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, dolorum. Magni a quam, laboriosam minus sequi debitis inventore quae labore necessitatibus ab eos recusandae. Necessitatibus voluptatem non id pariatur ex?</p>
		</ul>
		
	</div>
</div>
